.title {
  width: 100%
}

.a { 
  /* text-decoration: none; */
  color: black;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.textContainer {
  padding: 0 4rem;
  position: absolute;
  max-width: 110rem;
  width: 100%;
  margin: auto;
  word-break: break-all;
}